<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery.js"></script>
    <script src="xuly.js">

    </script>
</head>

<body>
    <div class="body">
        <div class="login">
            <h3>what is your name </h3>
            <input type="text" class="nameuser">
            <input type="button" class="register" value="register">
        </div>
        <div class="chat">
            <div class="left">
                <div class="boxtitle">User online</div>
                <div class="boxconten"></div>
    

            </div>
            <div class="right">
                <div class="sayhello">HELLO <span class="currenUser"></span> <input type="button" value="logout"
                        id="logout"></div>
                <div class="messenger"></div>
                <input type="text" class="txtmessenger">
                <input type="button" class="send" value="send">
            </div>

        </div>
    </div>
</body>

</html